<h2>All Heroines</h2>

<%= form_tag("/heroines", method: "get") do %>
  <%= label_tag(:power_name, "Search for:") %>
  <%= text_field_tag(:power_name) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<%= button_to "Create a new Heroine!", new_heroine_path, method: :get %>
